/** Colors */

/** RGB | from 0 to 255 */
.rgb {
  color: rgb(5, 131, 99);
}
/** HSL | "H" (0 to 360) | "S" and "L" (0 to 100%) */
.hsl {
  color: hsl(54, 88%, 39%);
}

/** +A (rgba, hsla) | "0 to 1" or "0 to 100%" */
.rgba {
  color: rgba(5, 131, 99, 0.5);
}
.hsla {
  color: hsla(54, 88%, 39%, 60%);
}
