* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  color: white;
}

a {
  color: white;
}

h1,
h2 {
  margin: 20px;
}

:is(code, pre) + div {
  margin-left: 20px;
}

body > div {
  display: flex;
  align-items: center;
  margin: 20px;
}

pre {
  color: turquoise;
  border: 1px solid white;
  padding-inline: 10px;
  font-size: 17px;
}

pre span {
  color: white;
}
