# "python" compiled files
__pycache__/

# 'java' and 'kotlin' compiled files and directories
.idea/
.gradle/
out/
*.class
*.iml
local.properties
java/**/bin
kotlin/**/bin

# 'c#' directories
c#/**/bin
obj/

# general dirs
build/

# 'dart' packages
.dart_tool/

# 'c' compiled files
.temp/
.vscode/