* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: white;
}

html {
  background-color: black;
  color: white;
}

h1,
h2,
h3 {
  margin: 20px;
}

code + div :is(p, a),
pre + div :is(ul, ol, li) {
  margin-left: 20px;
}

body > div {
  display: flex;
  align-items: center;
  margin: 20px;
}

code {
  color: turquoise;
  font-size: 17px;
  border: 1px solid white;
  padding: 15px 30px;
}

code span {
  color: white;
}

code + div {
  display: flex;
}

code + div img {
  height: 45px;
  margin-inline: 20px;
}

.comment {
  font-style: italic;
}

pre {
  border: 1px solid white;
  padding-inline: 10px;
}

pre code {
  border: none;
}
